.main-h1{
    text-align: center;
    color: lightseagreen;
    text-decoration: none;
    text-indent: 50px;
    
}
.main-h1:hover{
    color: black;
}

.card{
    border-radius: 3%;
    border-color: blueviolet;
   display: inline-block;
   margin: 2%;
}
.card:hover{
    background-color: lightgreen;
}
.main-h2{
    text-align: center;
    color: goldenrod;
    text-decoration: none;
    text-indent: 50px;
    
}
.main-h2:hover{
    color: black;
}
img{
    width: 12%;
    height: 12%;
}
.main-h3{
    text-align: center;
    color: goldenrod;
    text-decoration: none;
    text-indent: 50px;
    margin-top: -6%;
    
}
.main-h3:hover{
    color: black;
}
.main-h4{
    text-align: center;
    color: green;
    text-decoration: none;
    text-indent: 50px;
   
    
}
.main-h4:hover{
    color: black;
}
.img2{
    width: 10%;
    height: 10%;
    float: right;
    padding: 0;
    margin-top: -1%;
    
   
   
}

